/*
Vous pouvez saisir ici toute règle CSS reconnue par GTK+.
Vous pouvez désactiver temporairement ce CSS personnalisé en cliquant sur le bouton « Pause » ci-dessus.

Les changements sont appliqués instantanément et globalement, pour toute l’application.
*/

* {
    font-family: Cantarell;
}
/*
Main search box
*/
.main-search-box{
    background-color: transparent;
}
/*
Notes list styling
*/
scrolledwindow {
    border-width: 0px;
}
.notes-list-and-search{
    /*background-color: rgb(250,250,246);*/
}
.notes-list-and-search list{
    background-color: transparent;
}
.category_header{
    color:rgb(53,132,228);
    font-size: x-large;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.listitem{
    padding: 0px;
}
.listitem_title{
    font-size:medium;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 6px;
}
.listitem_summary{
    font-size: medium;
    font-weight: 100;
    margin-top: 6px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 6px;
}
.listitem_date{
    font-size: small;
    font-weight: 300;
    margin-top: 6px;
    margin-right:6px;
}
.listitem_ribbon{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 2px;   
}
list separator{
     margin-left: 18px;
     margin-right: 6px;
}
/*
Tags list shown in popover in edit mode
*/
.tagslist-item{
    background-color: #d3d7cf;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.tagslist-item:selected, active{
    background-color: #3465a4;
}
.tagseditor-item{
    background-color: #d3d7cf;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
}
.tagseditor-item label{
    color: white;
}
/*
Recent files shown in start panel
*/
.recent_files_item{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.recent_files_grid{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.recent_files_name{
    font-weight: normal;
}
.recent_files_location{
    font-weight: 500;
    color: gray;
}